*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    height: 200px;
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    gap: 10px;
}
.box{
    background-color: orange;
}
img{
    height: 100%;
    width: 100%;
}
@media screen and (max-width:600px) {
    .container{
        height: 200px;
        width: 1000px;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
    }
}
@media screen and (max-width:300px) {
    .container{
        height: 800p;
        width: 200px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}