.container{
     background-color: azure;
     display: flex;
     height: 600px;
     flex-direction: row;
     /* justification work only on main axis and main axis is decided by flex direction*/
     justify-content: center;
     /* alignement work on cross axis */
     align-items: center;
     /* flex-wrap: wrap; */
     /* another way of giving margin through parent div */
     gap: 10px; 
}
.box{
    height: 100px;
    width: 100px;
    /* margin: 5px; */
}
.first{
    background-color: red;
    /* flex-grow: 4; */
}
.second{
    background-color: pink;
    /* flex-grow: 5; */
    flex-shrink: 4;
}
.third{
    background-color: cyan;
    align-self: flex-start;
}
.fourth{
    background-color: blue;
    flex-basis: 300px;
    /* flex basis will overwrite the width of class box */
    /* flex basis will increase length about main axis  */
}